.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* app styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
img {
  max-width: 100%;
  object-fit: cover;
}

.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

.cross-center {
  align-items: center;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.reverse-order {
  order: -1;
}
.text-center {
  text-align: center;
}
.mb-1 {
  margin-bottom: 0.125rem;
}
.container {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}
.heading {
  font-family: "Playfair Display", serif;
}
.home {
  max-width: 700px;
}
.box {
  padding: 4em 0;
  cursor: pointer;
  color: white;
  background-color: #ff4f92;
}

.box__heading {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.box__img {
  opacity: 50%;
  width: 30%;
}
